body, html {
    height: 100%;
    margin: auto;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

}

#app {
    box-sizing: border-box !important;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow-x: hidden;
    padding-left: 5%;
    padding-right: 5%;
    /* padding:0; */
    width:100%;
    margin:0;
    overflow-y: hidden;
}


main-navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius:10px;
}

.bigButton {
    position:absolute;
    bottom:10%;

    left: 10%;
    right: 10%;
    background-color: #9b00b0;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    
}
.bigButton:hover {
    background-color: #9b00b0b7;
    color: white;
    transition: 0.3s;
    transform: translate(1px,1px);
}
input {
    margin: 30px;
    margin-bottom:50px;
    display: inline-block;
}

select {
    position:relative;
    margin-bottom:30px;
    left: 0%;
    right: 10%;
    width: 80%;
}

select {
    /* appearance: none; */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    margin:10px;
}

select:hover {
    border-color: #999;
}

select:focus {
    border-color: #666;
    box-shadow: 0 0 0 3px rgba(91, 91, 91, 0.3);
}


input {
    margin: 30px;
    margin-bottom:50px;
    display: inline-block;
}

select {
    position:relative;
    margin-bottom:30px;
    left: 0%;
    right: 10%;
    width: 80%;
}


h1 {
    text-align: center;
    margin-bottom:40px;
}